<div class="row">
    <div class="col-md-6 text-center">
        <h1 class="featured-title">Openboard + Arduino (TM)</h1>

        <h2>openBoard</h2>

        <p class="featured-content">
            pcDuino is a mini PC platform that runs PC like OS such as Ubuntu and Android ICS. It outputs screen to
            HDMI. Moreover, it has hardware headers interface compatible with Arduino (TM). pcDuino can be used to
            teach Python, C and more interesting stuff.
        </p>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <img src="images/openboard.jpg" class="img-thumbnail">
    </div>
</div>
