.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    padding-bottom: 20px;
}

@media (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

.featured-title {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 3em;
}

.featured-content {
    font-family: Arial, serif;
    font-size: 1.2em;
}

.nav li {
    border-right: 1px solid #585858;
}

.nav a:hover {
    background-color: #808080;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
    background-image: -webkit-linear-gradient(top, #808080, #363636);
    background-image: -moz-linear-gradient(top, #808080, #363636);
    background-image: -ms-linear-gradient(top, #808080, #363636);
    background-image: -o-linear-gradient(top, #808080, #363636);
    background-image: linear-gradient(top, #808080, #363636);
    color: #fff;
}